.small-text {
  font-size: 13px;
}

.facilities-container {
  width: 325px;
}

.green-icon {
  color: #daff01;
}

.form-wrapper {
  width: 325px;
}

@media (min-width: 768px) {
  .form-wrapper {
    width: 696px;
  }
}
